.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-profile {
  padding: 5px;
  width: 260px;
  animation: swell ease-in-out infinite 5s;
}

@keyframes swell {
  0% {transform: scale(1.0);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1.0);}
}

.App-github {
  color: #FFF;
}

.App-profile-label {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;;
  margin: 15px;
}

.App-info {
  font-size: 20px;
}

.App-content {
  color: white;
  text-align: left;
  padding: 10px;
  background: #000;
  /* background: linear-gradient(rgb(0, 0, 0) 0%, rgba(121, 9, 9, 1) 65%, rgba(158, 118, 48, 1) 100%); */
  min-height: 55vh;
  display: flex;
  flex-direction: unset;
}

.App-project {
  width: fit-content;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 90px 33px;
  margin: 20px;
}

.App-defblade {
  /* box-shadow: rgba(0, 0, 0, 0.8) 0 0 90px 33px; */
  /* margin: 20px; */
  border: 1px #949494 solid;
  border-radius: 5px;
}

.defblade {
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 552;
  max-width: 552;
  background-color: #000000;
  /* border: 1px #606060 solid; */
  border-radius: 2px;
  background-color: #363636;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: 1px #7b7b7b5f solid;
  border-radius: 2px;
}

.defblade-info {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.speedshifter {
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: fit-content;
  background-color: #000000;
  /* border: 1px #606060 solid; */
  border-radius: 2px;
  max-width: 450px;
  background-color: #363636;
  overflow-wrap: break-word;
  border: 1px #7b7b7b5f solid;
  border-radius: 2px;
}

.speedshifter-screenshot {
  width: 450px;
  border: 1px #949494 solid;
  border-radius: 5px;
}

.speedshifter-info {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.speedshifter-link {
  color: #fff;
  font-style: italic;
}